In [ ]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

## **Pandas 에 대해**

Pandas는 2차원(row/col)으로 이루어진 데이터를 객체화하여 처리할 수 있게 해 주는 데이터분석 라이브러리 입니다.<br>

참고 링크:<br>
https://datascienceschool.net/view-notebook/704731b41f794b8ea00768f5b0904512/
https://datascienceschool.net/view-notebook/76dcd63bba2c4959af15bec41b197e7c/

다음과 같이 라이브러리를 import 합니다.

In [ ]:
import pandas as pd

In [ ]:

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

실습에 사용할 kaggle titanic 데이터를 Pandas.read_csv()함수로 읽어 들입니다.<br>
read_csv()함수는 csv파일을 읽어들여 DataFrame객체를 생성해서 리턴합니다.

In [ ]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

데이터가 많아서 100개로 줄임

In [ ]:
dataframe = train.head(100)
dataframe.describe(include='all')

**Series** : index가 있는 1차원 배열<br>
DataFrame의 각각의 column이 Series이다.

### DataFrame과 Series의 차이
- DataFrame은 2차원, Series는 1차원 이다.

In [ ]:
print("dataframe.shape=", dataframe.shape) # DataFrame의 차원
s = dataframe["Age"] #한 column은 선택해서 Series를 얻는다.
print(type(s))
print("s.shape=", s.shape)

In [ ]:
dataframe.info() #DataFrame의 간결한 정보를 출력한다.

DataFrame의 데이터를 앞에서부터 잘라 얻고 싶으면 head()를 사용<br>
몇 줄을 얻을 것인지는 n에 값을 지정해서 할 수 있다.

In [ ]:
dataframe.head(n=10)

DataFrame의 Column정보를 얻어보자

In [ ]:
dataframe.columns

DataFrame의 index 정보도 별도록 얻을 수 있다.

In [ ]:
dataframe.index
print(dataframe.loc[dataframe.index]) #dataframe의 모든 row를 선택함

In [ ]:
#columns를 배열처럼 접근할 수 있다.
print("dataframe.columns[0]", dataframe.columns[0])
print("dataframe.columns[1]", dataframe.columns[1])

print()
# for/in 으로 각각의 항목을 얻을 수 있다.
for col in dataframe.columns:
    print(col)

## DataFrame 인덱싱

DataFrame에 대괄호 안에 Column 이름을 넣어서 해당 Column의 데이터를 얻을 수 있다.

In [ ]:
print(type(dataframe["Age"])) # type은 Series
print(dataframe["Age"].shape) #(891,)
print(dataframe["Age"]) # Age값을 얻을 수 있다.

대괄호 안에 boolean array를 넣어 값을 선택해서 추출할 수 있다.<br>
대부분 조건식을 통해 값을 추출하려 할 때 사용한다.

In [ ]:
# Age < 30인 사람들의 데이터를 얻는다.
print(dataframe[dataframe["Age"] < 30])

대괄호는 중복해서 사용할 수 있다.<br>
또한 한번에 여러 개의 항목을 선택할 수 있는데, 대신 여러 Column을 선택할 때는 여러 Column 나열한 것을 대괄호로 한번 더 감싸준다.

In [ ]:
dataframe[["Age", "Fare"]]["Fare"]

대괄호 안에 행을 slice 해서 특정 데이터만 얻을 수 있다.

In [ ]:
dataframe[0:3]["Age"] #0~3까지(3은 제외), "Age" 열만 얻음

In [ ]:
dataframe[50:][["Age", "Embarked"]] #50부터 끝 행까지, "Age"와 "Embarked"를 얻음

### **연습** : 
>dataframe에서 Age가 30 이상인 사람들의 Fare를 구하기

In [ ]:
def get_df(df):
    ### start code here ###
    return None
    ### end code here ###    

print(get_df(dataframe))

기대 출력 :

1     71.2833
3     53.1000
4      8.0500
6     51.8625
11    26.5500
13    31.2750
15    16.0000
18    18.0000
20    26.0000
21    13.0000
25    31.3875
30    27.7208
33    10.5000
35    52.0000
40     9.4750
52    76.7292
54    61.9792
61    80.0000
62    83.4750
70    10.5000
74    56.4958
85    15.8500
92    61.1750
94     7.2500
96    34.6542
98    23.0000
99    26.0000
Name: Fare, dtype: float64

### ***연습:***
>dataframe에서 row index 30부터 39까지 Survived와 Fare값을 얻기

In [ ]:
def get_df(df):
    ### start code here ###
    return None
    ### end code here ###    

print(get_df(dataframe))

기대 출력:
    Survived      Fare
30         0   27.7208
31         1  146.5208
32         1    7.7500
33         0   10.5000
34         0   82.1708
35         0   52.0000
36         1    7.2292
37         0    8.0500
38         0   18.0000
39         1   11.2417

### ***연습:***
>dataframe에서 Cabin 정보가 없는 사람들의 Survived,Sex를 구하기

In [ ]:
def get_df(df):
    ### start code here ###
    return None
    ### end code here ###    

print(get_df(dataframe))

기대 출력 :
    Survived     Sex
0          0    male
2          1  female
4          0    male
5          0    male
7          0    male
8          1  female
9          1  female
12         0    male
13         0    male
14         0  female
15         1  female
16         0    male
17         1    male
18         0  female
19         1  female
20         0    male
22         1  female
24         0  female
25         1  female
26         0    male
28         1  female
29         0    male
30         0    male
32         1  female
33         0    male
34         0    male
35         0    male
36         1    male
37         0    male
38         0  female
..       ...     ...
64         0    male
65         1    male
67         0    male
68         1  female
69         0    male
70         0    male
71         0  female
72         0    male
73         0    male
74         1    male
76         0    male
77         0    male
78         1    male
79         1  female
80         0    male
81         1    male
82         1  female
83         0    male
84         1  female
85         1  female
86         0    male
87         0    male
89         0    male
90         0    male
91         0    male
93         0    male
94         0    male
95         0    male
98         1  female
99         0    male

## **DataFrame 수정**

기본적으로 대괄호에 Column을 명시하고 값을 넣으면 해당 Column의 값이 모두 변경된다.

In [ ]:
df = dataframe.copy()
df["Age"] = 100
print(df["Age"])

대괄호 안에 조건식을 넣어서 조건에 해당하는 데이터만 수정할 수 있다.

In [ ]:
df = dataframe.copy()
print("Age가 null인 데이터의 수:", df[df["Age"].isnull()].shape[0]) # Age항목이 비어있는 데이터의 수를 출력
print(df["Age"])
df[df["Age"].isnull()] = 50 #비어있는 데이터를 50으로 채운다.
print(df["Age"])

길이에 맞는 배열을 넘겨서 설정할 수도 있다.

In [ ]:
df = dataframe.copy()
ages = np.arange(df.shape[0]) # 0~99까지 값을 생성한다.
df["Age"] = ages
print(df["Age"])

새로운 열은 그냥 대괄호에 새 이름을 넣고 값을 넣어주면 된다.

In [ ]:
df = dataframe.copy()
print(df.columns)
bins = [-1, 0, 5, 12, 18, 24, 35, 60, np.inf]
labels = ['Unknown', 'Baby', 'Child', 'Teenager', 'Student', 'Young Adult', 'Adult', 'Senior']
'''
Pandas.cut()은 입력으로 받은 데이터를 bins 범위로 구분해서 맞는 label로 변경해서 리턴한다.
(리턴값이 Series이므로 Column을 선택한 Series에 넣어줄것)
'''
df["AgeGroup"] = pd.cut(df["Age"], bins, labels=labels)
print(df.columns)
print(df["AgeGroup"])

**DataFrame에 대괄호를 사용할 때마다 새로운 객체가 생성되는 것과 동일하므로 다음과 같은 코드로는 값 변경이 안된다.(그대로임)**

In [ ]:
df = dataframe.copy()
# Age가 비어있는 데이터에 값을 넣으려고 한다.
df[df["Age"].isnull()]["Age"] = 100
print(df["Age"].head(n=df.shape[0])) # NaN이 그대로 있음

위 상황에서 값을 설정하기 위해서는 DataFrame에서 지원하는 인덱서 함수를 사용해야 한다.

### loc 인덱서
다음과 같이 사용한다.
    DataFrame.[row 인덱싱 값, col 인덱싱 값]
    
인덱스데이터의 종류 :
- 인덱스데이터 슬라이스
- 인덱스데이터 리스트
- 같은 행 인덱스를 가지는 불리언 시리즈 (행 인덱싱의 경우)
- 또는 위의 값들을 반환하는 함수

위와 같은 경우 아래와 같이 loc[boolean값, [column 이름]]에 값을 넣어서 해결할 수 있다.

In [ ]:
df = dataframe.copy()
#df[df["Age"].isnull()]["Age"] = 100
df.loc[df["Age"].isnull(), ["Age"]] = 100 # loc(boolean 값, column 이름)로 값을 읽거나 설정할 수 있다.
print(df["Age"])

행번호로 범위를 지정해서 얻을 수도 있다.

In [ ]:
df.loc[0:5] #0번째부터 5까지(행 인덱스가 정수이면 레이블 슬라이싱 방식에 따라 5도 포함된다.)

loc[]안에 여러 column 이름을 넣어서 여러 column을 추출해 낼 수도 있다.
여러 열을 추출할 경우 아래 예와 같이 column이름들을 대괄호로 묶어서 넘겨준다.

In [ ]:
df[["Age", "Fare"]].head()

조건식을 통해 조건이 맞는 행만 고를 수도 있다.<br>
- 두번째에 column 이름을 넣을 수 있으므로 연속적인 대괄호로 인한 copy가 일어나지 않음

In [ ]:
dataframe.loc[dataframe["Age"].isnull()].head()

In [ ]:
dataframe.loc[dataframe["Age"] > 50].head()

In [ ]:
dataframe.loc[dataframe["Age"] > 50, ["Name"]] #위 식에서 Name만 얻어서 Series 타입을 얻는다.

### iloc 인덱서
loc 인덱서와 다르게 라벨이 아니라 순서를 나타내는 정수만 인자로 받는다.<br>그 외 동작방식은 loc와 간다.

In [ ]:
print(dataframe.columns)
dataframe.iloc[[0,1,2], [0,1,2,]]

In [ ]:
for i in range(5):
    print(dataframe.iloc[i, [0,1,2]])

In [ ]:
dataframe.iloc[0:10, [5,6]]

### at, iat 인덱서
값 하나만 뽑아야 할 때 사용한다. 빠른 인덱싱 속도가 필요할 때 사용한다.

In [ ]:
for i in range(10):
    print(dataframe.at[i, "Age"])

In [ ]:
print(dataframe.columns.values)
for i in range(dataframe.shape[0]): #전체 데이터에 대해 for loop
    if dataframe.at[i, "Age"] == 20: # 20살이면,
        print(dataframe.iloc[i]) #출력

### **연습** : 
>비어있는 Cabin에 "Unknown" 문자열을 채우기

In [ ]:
df = dataframe.copy()

def fill_cabin_unknown(df):
    ### start code here ###
    
    ### end code here ###
    return df

df = fill_cabin_unknown(df)
print(df["Cabin"])

기대 출력:
 
0         Unknown
1             C85
2         Unknown
3            C123
4         Unknown
5         Unknown
6             E46
7         Unknown
8         Unknown
9         Unknown
10             G6
11           C103
12        Unknown
13        Unknown
14        Unknown
15        Unknown
16        Unknown
17        Unknown
18        Unknown
19        Unknown
20        Unknown
21            D56
22        Unknown
23             A6
24        Unknown
25        Unknown
26        Unknown
27    C23 C25 C27
28        Unknown
29        Unknown
         ...     
70        Unknown
71        Unknown
72        Unknown
73        Unknown
74        Unknown
75          F G73
76        Unknown
77        Unknown
78        Unknown
79        Unknown
80        Unknown
81        Unknown
82        Unknown
83        Unknown
84        Unknown
85        Unknown
86        Unknown
87        Unknown
88    C23 C25 C27
89        Unknown
90        Unknown
91        Unknown
92            E31
93        Unknown
94        Unknown
95        Unknown
96             A5
97        D10 D12
98        Unknown
99        Unknown
Name: Cabin, Length: 100, dtype: object

### **연습:**
>Parch와 SibSp 값을 합해서 Family라는 항목을 추가한다.

In [ ]:
df = dataframe.copy()

### start code here ###
None
### end code here ###

if "Family" in df:
    print(df["Family"].sum())

기대 출력:
117.0

### **연습:**
>Embarked 중 가장 갯수가 많은 것을 찾아서 null값에 채운다.

갯수가 가장 많은 것을 확인하려면 column을 선택한 Series에 **value_counts()**를 호출해서 얻을 수 있다.

In [ ]:
df = dataframe.copy()
### start code here ###

### end code here ###
print(df[df["Embarked"].isnull()].shape[0])

기대 출력:
0

### **연습:**
>Name에서 Mrs., Miss. 등의 호칭을 추출해서 Title항목을 추가한다.

이름 항목에서 호칭을 추출하는 것은 Series.str.extract()와 <br>
'([A-Za-z]+)\. ' 정규표현식을 사용.

In [ ]:
df = dataframe.copy()
### start code here ###

### end code here ###
if "Title" in df:
    print(df["Title"].unique())

기대 출력:
['Mr' 'Mrs' 'Miss' 'Master' 'Don']

## 그룹 분석

groupby()메소드를 통해 선택한 column의 데이터 종류별로 데이터를 분류할 수 있다.<br>
groupby()에는 다음을 인수로 사용한다.
- 열 또는 열의 리스트
- 행 인덱스

<br>
<br>

groupby()함수는 값의 종류별로 묶인 데이터를 나타내는 GroupBy 클래스 객체를 반환한다.<br>

- size, count: 그룹 데이터의 갯수
- mean, median, min, max: 그룹 데이터의 평균, 중앙값, 최소, 최대
- sum, prod, std, var, quantile : 그룹 데이터의 합계, 곱, 표준편차, 분산, 사분위수
- first, last: 그룹 데이터 중 가장 첫번째 데이터와 가장 나중 데이터

Pclass당 생존자 수를 계산해 본다.

In [ ]:
print(dataframe[["Pclass", "Survived"]].groupby(["Pclass"]))

Pclass와 Survived를 선택헤서 Pclass로 group화하고 Survived값을 합한다.

In [ ]:
dataframe[["Pclass", "Survived"]].groupby(["Pclass"]).sum()

Survived에서 1이 산 것으로 0이 죽은 것이므로 평균을 내면 생존률 값을 얻을 수 있다.

In [ ]:
dataframe[["Pclass", "Survived"]].groupby(["Pclass"]).mean()

group에 속한 데이터의 수를 확인하려면 size()를 호출한다.

In [ ]:
dataframe[["Pclass", "Embarked"]].groupby(["Pclass"]).size()

[df["Survived"] == 1] 조건을 추가했으니 Survived의 평균은 모두 1이 된다.

In [ ]:
dataframe[["Pclass", "Survived"]][df["Survived"] == 1].groupby(["Pclass"]).mean()

### **연습:**

>성별과 생존여부를 모아서 성별로 그룹화하여 생존률을 출력

In [ ]:
### start code here ###
None
#end code here ###

기대 출력:

        Survived
Sex	
female	0.794872
male	0.163934

### **연습:**

>Pclass에 따른 평균 나이대를 출력

In [ ]:
### start code here ###
None
#end code here ###

기대 출력:

        Age
Pclass           
1       40.555556
2       26.872353
3       22.220930

## 추가 연습문제 ##

>Fare 값의 편차가 크므로 Fare값에 log를 취한다.

In [ ]:
df = dataframe.copy()
### start code here ###
None
#end code here ###
print(df["Fare"].head())

기대 출력:

0    1.981001
1    4.266662
2    2.070022
3    3.972177
4    2.085672
Name: Fare, dtype: float64

>Cabin이 빈 데이터를 채우려 한다.<br>
같은 Ticket을 가진 사람의 Cabin을 채우려고 하는데, 이렇게 채울 수 있는 사람의 총 수를 구한다.

- iterrows() : DataFrame에 호출해서 iterator를 얻을 수 있다.(index, row)를 넘겨준다.

In [ ]:
df = test.copy()

def empty_cabin_but_oterhs_have_cabin_cnt(df):
    ret = 0    
    for idx, row in df[df["Cabin"].isnull() == True].iterrows(): #Cabin이 없는 행에 대해 loop 를 돈다.      
        ### start code here ###
        pass
        ### end code here ###
    return ret

print("count of fillable cabin : ", empty_cabin_but_oterhs_have_cabin_cnt(df))

기대 출력:
count of fillable cabin :  3